In [2]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [3]:
print(pd.options.display.max_rows)

60

In [4]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

In [5]:
df.drop_duplicates(inplace = True)

In [6]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.162098  0.003578  0.923053
Pulse    -0.162098  1.000000  0.787035  0.015301
Maxpulse  0.003578  0.787035  1.000000  0.195309
Calories  0.923053  0.015301  0.195309  1.000000